<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <h1>Lista de familiares</h1>
    {% for familiar in familiars %}
        Nombre = {{familiar.name}}<br>
        Edad = {{familiar.edad}}
        {% if familiar.genero == True %}
            <p>El género es masculino</p>
        {% else %}
            <p>El género es femenino</p>
        {% endif %}
        __________________<br>
    {% endfor %}
    


</body>
</html>